@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply bg-blue-500 !important
    }
}

.swiper-pagination {
    position: absolute;
    bottom: 0px !important;
    left: 50%;
    z-index: 10;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(175, 178, 181)
}

.swiper-pagination-bullet {
    background: rgb(255, 111, 0);
}